In [66]:
import pandas as pd 
import numpy as np 
from sklearn.preprocessing import LabelEncoder

In [68]:
data = pd.read_csv("./BMW sales data (2010-2024) (1).csv")

In [70]:
## Objective: Identify patterns and findings in the data

## Data Exploration

In [73]:
data.head()

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification
0,5 Series,2016,Asia,Red,Petrol,Manual,3.5,151748,98740,8300,High
1,i8,2013,North America,Red,Hybrid,Automatic,1.6,121671,79219,3428,Low
2,5 Series,2022,North America,Blue,Petrol,Automatic,4.5,10991,113265,6994,Low
3,X3,2024,Middle East,Blue,Petrol,Automatic,1.7,27255,60971,4047,Low
4,7 Series,2020,South America,Black,Diesel,Manual,2.1,122131,49898,3080,Low

In [75]:
data.dtypes

Model                    object
Year                      int64
Region                   object
Color                    object
Fuel_Type                object
Transmission             object
Engine_Size_L           float64
Mileage_KM                int64
Price_USD                 int64
Sales_Volume              int64
Sales_Classification     object
dtype: object

In [77]:
# Identifying Objects- need to be converted to ML Friendly format
data.select_dtypes("object")

,Model,Region,Color,Fuel_Type,Transmission,Sales_Classification
0,5 Series,Asia,Red,Petrol,Manual,High
1,i8,North America,Red,Hybrid,Automatic,Low
2,5 Series,North America,Blue,Petrol,Automatic,Low
3,X3,Middle East,Blue,Petrol,Automatic,Low
4,7 Series,South America,Black,Diesel,Manual,Low
...,...,...,...,...,...,...
49995,i3,Asia,Red,Hybrid,Manual,High
49996,i3,Middle East,Silver,Electric,Manual,High
49997,5 Series,Middle East,Red,Petrol,Automatic,High
49998,i3,Asia,White,Electric,Automatic,High
49999,X1,North America,Blue,Diesel,Manual,Low

In [79]:
list(data["Model"].unique())

# Label encode data points in Model column 
le=LabelEncoder()
data['Model_Encoded'] = le.fit_transform(data["Model"])

# Label encode data points in Model column 
data["Region"] = le.fit_transform

data.head()

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification,Model_Encoded
0,5 Series,2016,Asia,Red,Petrol,Manual,3.5,151748,98740,8300,High,1
1,i8,2013,North America,Red,Hybrid,Automatic,1.6,121671,79219,3428,Low,10
2,5 Series,2022,North America,Blue,Petrol,Automatic,4.5,10991,113265,6994,Low,1
3,X3,2024,Middle East,Blue,Petrol,Automatic,1.7,27255,60971,4047,Low,6
4,7 Series,2020,South America,Black,Diesel,Manual,2.1,122131,49898,3080,Low,2

In [85]:
data['Region'].unique()

array(['Asia', 'North America', 'Middle East', 'South America', 'Europe',
       'Africa'], dtype=object)